VITE_STRAPI_URL=http://localhost:1337
VITE_STRIPE_PUBLIC_KEY=pk_test_XXXXXXXXXXXXXXXXXXXXXXXX
# VITE_SITE_URL=http://localhost:5173
VITE_CASUAL_ROOM_KEY=BASE64_ENCODED_32_BYTE_KEY
VITE_COINDESK_API_KEY=
